//Testing initialization variables in the SASS:
$formWidth: 49%;
$floatAlign: left;
$formTopMar: 7px;
$formPad: 10px 20px;
$ageWidth: 20%;
$passWidth: 50%;
$clearFloat: left;
$subBtnBack: hsl(180, 28%, 66%);
$resBtnBack: hsl(359, 66%, 47%);
$subBtnColor: #ffffff;
$subBtnPad: 7px 15px;
$subBtnCur: pointer;

body {
    font-family: "Lato", sans-serif;
}

h2 {
    background-color: red;
    color: yellow;
}

body {
    margin: 50px;
}

fieldset form {
    padding: 20px;
}

fieldset form input {
    margin-top: $formTopMar;
    padding: $formPad;
}

#fname, #lname {
    width: $formWidth;
    float: $floatAlign;
}

#age {
    width: $ageWidth;
    float: $floatAlign;
}

#pass {
    width: $passWidth;
    float: $floatAlign;
}

#pass {
    margin-left: 5px;
}

#lname {
    margin-left: 5px;
}

#terms {
    clear: $floatAlign;
    width: auto;
}

.checkBox {
    float: $floatAlign;
}

.formBtn {
    clear: $floatAlign;
}

#subBtn, #resetBtn {
    background-color: $subBtnBack;
    color: $subBtnColor;
    border: none;
    padding: $formPad;
    cursor: $subBtnCur;
}

#resetBtn {
    background-color: $resBtnBack;
}

//Testing nesting functions for organize syntax in the SASS:
$backMenu : hsl(236, 66%, 76%);
$aHover : hsl(236, 66%, 66%);
$aActive : hsl(236, 66%, 35%);
$aColor : #ffffff;
$aColorActive : #ffffff;

.vertical-menu {
    width: 30%;
}

.vertical-menu {
    margin-top: 20px;
    border: 4px double $aActive;
    a {
        background-color: $backMenu;
        color: $aColor;
        display: block;
        padding: 12px 20px;
        text-decoration: none;
    }

    a:hover {
        background-color: $aHover;
        outline: 4px solid $aActive;
    }

    a:active {
        background-color: $aActive;
        color: $aColorActive;
    }
}

//Customization side-navigation panel:
@import 'main';
@import 'sidenav';
@import 'rwd';
